.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url(./dUNO.png);
  background-color: black;
}

.App-header::after {
  opacity: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Login-input {
  text-align: center;
}

.dUNO {
  color: white;
  text-align: center;
}

.Card {
  height: 100%;
  width: 100%;
}

.Game {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/images/poker_table.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.image {
  height: 100;
  width: 60;
}

.aiPlayer {
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.aiText {
  position: absolute;
  font-size: 20;
}
